feature extreme rating

In [10]:
import pandas as pd

In [11]:
def load_dataset(path):
    df = pd.read_csv(path, index_col=0)
    return df

## Group Dataset

In [12]:
df_groups = load_dataset(r'D:\Yelp\charlotte_2016_groups.csv')

In [13]:
df_groups.head()

                  user_id  group_id  group_len group_type
0  PfFQi85FmxMcbVLSUAKdTg         0          3          n
1  o47K1q5tboKATf8lTSxPvw         0          3          n
2  GGVgtK8NZ61tATnQsnOj9Q         0          3          n
3  PfFQi85FmxMcbVLSUAKdTg         1          2          n
4  xGSufcJ5mUGR_oUUjKLGqw         1          2          n

## Raw Dataset

In [14]:
df_charlotte_2016 = load_dataset(r'D:\Yelp\charlotte_2016.csv')

In [15]:
df_charlotte_2016.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_business,review_count,...,categories,hours,review_id,user_id,stars_review,useful,funny,cool,text,date
8,0pOlmHVeidsh63iAWdTAfg,Hendrick Motors of Charlotte - Mercedes-Benz,5201 E Independence Blvd,Charlotte,NC,28212.0,35.188018,-80.758758,2.5,32,...,"Auto Repair, Car Dealers, Automotive","{'Monday': '0:0-0:0', 'Tuesday': '7:30-19:0', ...",VyiezkRspGtuG68_rDYp3A,A0R17nyHQ9SiqQjtnsP33g,1.0,5,0,0,Mercedes used to be such a great brand with ex...,2016-12-23 03:54:01

## Merge

In [16]:
df = df_charlotte_2016.merge(df_groups, on='user_id', how='inner')

In [22]:
df.shape

(435220, 25)

In [18]:
df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars_business', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'review_id', 'user_id',
       'stars_review', 'useful', 'funny', 'cool', 'text', 'date', 'group_id',
       'group_len', 'group_type'],
      dtype='object')

In [19]:
def get_result(df):
    result = []
    groups = df.groupby('user_id')
    for user_id, data in groups:
        #print(user)
        #print(data)
        all_stars = data.stars_review.values
        
        if 2 in all_stars or 3 in all_stars or 4 in all_stars:
            result.append({'user_id': user_id, 'ext': 0})
        else:
            result.append({'user_id': user_id, 'ext': 1})
    
    result_df = pd.DataFrame(result)
    return result_df

In [20]:
ext_df = get_result(df)

In [21]:
ext_df

                      user_id  ext
0      --3WaS23LcIXtxyFULJHTA    0
1      --7D3lFxyMYvs2JYiRrg6Q    1
2      --JS-RvSykutl1DavCbkIg    1
3      --wiweOmNCw6vg2kbzbwEA    1
4      -0CTuvVqlEGeWvOt82B7Hg    0
...                       ...  ...
10622  zz1uQK-f0Zrf58sX-nFIlQ    0
10623  zz503rdb-RXh2Ablmp2h_g    0
10624  zzXkymkXi9vM4h3KBppuPQ    1
10625  zzYF64kl9es4c16fv68OIQ    1
10626  zzawiLRYd4TjHKVyx6zjUQ    1

[10627 rows x 2 columns]

In [23]:
ext_df.shape

(10627, 2)

In [24]:
ext_df = ext_df.drop_duplicates()

In [26]:
ext_df.shape

(10627, 2)

In [27]:
path = r'D:\Yelp\extreme_rating_abuse.csv'

In [28]:
ext_df.to_csv(path)